* {
  margin: 0px;
  padding: 0px;
}
:root {
  --navbar-height: 59px;
}

body {
  font-family: Montserrat-Regular;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f3f4f8;
  counter-reset: section;
}
#navbar {
  background-color: rgb(17, 17, 17);
  display: flex;
  height: 75px;
  position: sticky;
}
.logo {
  height: 100px;
  margin-top: -14px;
  padding: 20px;
  padding-top: 3px;
}
.header {
  display: flex;
}
.header1 {
  display: flex;
}
.header2 {
  display: flex;
}
.search-bar {
  height: 20px;
}
.search-bar img {
  height: 29px;
  width: 34px;
  margin-top: 22px;
}
.searching {
  height: 20px;
  padding: 0px;
  margin-top: 0px;
  font-size: 20px;
  color: white;
  background-color: black;
}
.log {
  display: flex;
}
.log ul {
  display: flex;
}
.signup {
  height: 34px;
  margin: 20px;
  margin-left: 450px;
  padding: 0px;
}
.login {
  height: 34px;
  margin: 20px;
  padding: 0px;
  margin-left: 2px;
}
.art-img {
  height: 46px;
  cursor: pointer;
}
.art-text {
  color: white;
  text-align: center;
}
#art {
  margin: 6px;
  margin-left: 34px;
  padding: 0px;
}
#cart {
  margin: 6px;
  margin-left: 30px;
  padding: 0px;
}
#more {
  margin: 6px;
  margin-left: 40px;
  padding: 0px;
}
.cart-img {
  height: 45px;
  border-color: white;
  cursor: pointer;
}

.cart-text {
  color: white;
  text-align: center;
}
.more-img {
  height: 45px;
  cursor: pointer;
}
.more-text {
  color: white;
  text-align: center;
}

/*top section*/
.page {
  position: sticky;
  background-color: black;
  background-image: url(https://www.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_13191135.htm#query=artistic%20background&position=14&from_view=keyword&track=ais);
  background-repeat: no-repeat;
  
  opacity: 0.9;
  display: flex;
  margin: 0px;
  overflow: hidden;
  


}
.topsection {
  display: flex;
  margin: 70px;
  margin-left: 150px;
}
.Banner {
  padding: 25px;
  margin: 34px;
  margin-right: -832px;
}
.banner1 {
  color: white;
}
.banner2 {
  color: white;
  margin-top: 20px;
}
.banner3 {
  color: white;
  margin-top: 20px;
}
.banner4 {
  color: white;
}
.language1 {
  color: white;
}
.lenguage {
  display: flex;
  margin-top: 70px;
}
.language img {
  height: 25px;
  width: 24px;
}
.btn5 {
  flex-grow: 1;
  display: inline-block;
  color: white;
  margin-left: -1059px;
  margin-top: 169px;
}
.btn {
  margin-top: 50px;
}
.img {
  display: flex;
  margin-left: 200px;
  padding: 0px;
}

.img img {
  height: 500px;

  border-radius: 10px;
}

/*New day*/

.art {
  color: white;
  margin-top: 80px;
  padding: 0%;
}
.heading {
  width: 100%;
  position: relative;
  max-width: 1290px;
  padding: 0px 15px;
  margin: 0px auto;
  overflow: hidden;
}
/*section 2nd*/
#section {
  height: 150px;
  background-color: black;
  text-align: center;
}

.slideshow {
  margin: 0px;
  padding: 13px;
  margin-top: 40px;
  display: flex;
}
#section-1 {
  background-color: black;
  margin-top: -40px;
  display: flex;
}
.slide2 img {
  height: 400px;
  display: flex;
}
.slide2 {
  margin-top: 40px;
}
.img-text {
  color: white;
}
.img-text2 {
  color: white;
}
.multiple-slider {
  display: flex;
}

.section {
  position: relative;
  margin: 0px;
  padding: 0px 0px 40px;
  width: 100%;
  background: rgb(14, 14, 14) !important;
}

/* slider show start from here */
#section1 {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(black);
}
.section2 {
  height: 350px;
  margin: auto;
  width: 90%;
  display: grid;
  place-items: center;
  position: relative;
}
.slideshow {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide2 {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
img {
  width: 100%;
  transition: transform 1s;
}

img:hover {
  transform: translateZ(20px);
}

/* video section */

.container {
  background-color: black;
  margin: auto;
  padding: 1%;
  text-align: center;
}

.video-section{
  background: black;
  padding: 14px;
  margin: -2px;
  height: 300px;
}

/* Client Section */
#client-section{
  background: black;
  color: #dde0eb;
  text-align: center;  
}
.ourclient{
  margin: 17px;
  padding: 54px;
  height: 400px;
}
.client1{
  margin: 0px;
  margin-top: 43px;
  display: flex;
}

.one{
  background-color: rgb(185, 228, 228);
  border: 2px solid;
  border-radius: 40px;
  border-color: rgb(54, 15, 15);
  text-align: left;
  width: 330px;
  height: 340px;
  padding: 0px;
  margin-left: 40px;
    margin-right: 34px;
}
.comment{
  margin: 33px;
  padding: 0px;
}

.text1{
  color: black;
  font-size: 17px;
}
.stars{
 
  margin-left: -5px;
  margin-top: 30px;
  padding: 0px;
}
.star-img{
  height: 20px;
  width: 20px;
  margin: 5px;
  margin-left: 0px;
  padding: 0px;
}
.client-img{
  margin-top: 15px;
  margin-left: -10px;
  display: flex;
}
.name{
  color: black;
  margin-top: 30px;
  margin-left: 20px;
  
}
.harsheen{
  height: 100px;
  width: 100px;

}
.two{
  background-color: rgb(185, 228, 228);
  border: 2px solid;
  border-radius: 40px;
  border-color: rgb(54, 15, 15);
  text-align: left;
  padding-top: 0px;
  width: 330px;
  height: 340px;
  margin-left: 40px;
  margin-right: 34px;
}
.three{
  background-color: rgb(185, 228, 228);
  border: 2px solid;
  border-radius: 40px;
  border-color: rgb(54, 15, 15);
  text-align: left;
  padding-top: 0px;
  width: 330px;
  height: 340px;
  margin-left: 40px;
  margin-right: 34px;
}

/* About section */
#info-section{
  border-top: 2px solid #f3f4f8;

  background-color: rgb(27, 27, 27);
  margin:-20px;
  padding: 0px;
  height: 400px;
}
.link img{
  margin-left: 350px;
  margin-top: -30px;
  margin-right: -289px
}
.contactus{
  margin-top: -50px;
  margin-left: 1040px;

}
.fb{
  height: 50px;
  width: 50px;
  cursor: pointer;
  
}
.ins{
  height: 43px;
  width: 40px;
  cursor: pointer;
}
.linked{
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.mail{
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.pintrest{
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.info{
  margin:20px;
  color: white;
  padding: 80px;
}
.about{
  margin: -55px;
  padding: 0px;
}
.logo-img {
  height: 200px;
  width: 200px;
}
.link{
  margin: 0px;
  padding: 0px;
  margin-left: 43px;

}
.info1{
  cursor: pointer;
}
.btn{
  background-color: rgb(27, 27, 27);
  margin-top: -120px;
  margin-left: 1079px;
}
.btnn{
  border: 1px solid #dde0eb;
  background-color: #0a0a0a;
  color: #dde0eb;
  margin: 5px;
   
  padding: 5px;
  cursor: pointer;
}
.sec{
  border-top: 2px solid;
  border-color: aliceblue;
  
  background-color: #0a0a0a;
  color: #dde0eb;
  height: 40px;
}
.center{
  text-align: center;
  padding-top: 10px;
}
