*{
margin: 0px;
padding: 0px;
}
:root{
    --navbar-height: 59px;
}
#navbar{
    background-color: black;
    display: flex;
    height: 75px;
}
.logo{
    height: 100px;
    margin-top: -14px;
    padding: 20px;
    padding-top: 3px;
}
.header{
    display: flex;
}
.header1{
    display: flex;
}
.header2{
    display: flex;
}

.search-bar img{
    height: 29px;
    margin-top: 22px;
}
.searching{
    height: 20px;
    padding: 0px;
    margin-top: 0px;
    font-size: 20px;
    color: white;
    background-color: black;
}
.log{
    display: flex;

}
.log ul{
    display: flex;
}
.signup{
    height: 34px;
    margin: 20px;
    margin-left: 450px;
    padding: 0px;
}
.login{
    height: 34px;
    margin: 20px;
    padding: 0px;
    margin-left: 2px;
}
.art-img{
    height: 46px;
}
.art-text{
    color: white;
    text-align: center;
}
#art{
    margin: 6px;
    margin-left: 34px;
    padding: 0px;
}
#cart{
    margin: 6px;
    margin-left: 30px;
    padding: 0px;
}
#more{
    margin: 6px;
    margin-left: 40px;
    padding: 0px;
}
.cart-img{
    height: 45px;
    border-color: white;
}
.cart-text{
    color: white;
    text-align: center;
}
.more-img{
    height: 45px;    
}
.more-text{
    color: white;
    text-align: center;
}

/*top section*/
.page{
    background-color: black;
    display: flex;
    margin: 0px;
}
.topsection{
    display: flex;
    margin: 70px;
    margin-left: 150px;
}
.banner{
    padding: 25px;
    margin: 34px;
}
.banner1{
    color: white;
}
.banner2{
    color: white;
    margin-top: 20px;
}
.banner3{
    color: white;
    margin-top: 20px;
}
.banner4{
    color: white;
   
}
.language1{
    color: white;
}
.lenguage{
    display: flex;
    margin-top: 70px;
}
.language img{
    height: 25px;
}
.btn5{
    flex-grow: 1;
    display: inline-block;
    color: white;
}
.btn{
    margin-top: 50px;
}
.img{
    display: flex;
    margin-left: 200px ;
    padding: 0px;


}


.img img{
    height: 500px;
    
    border-radius: 10px;
}

/*New day*/

.art{
    color: white;
    margin-top: 80px;
    padding: 0%;
}
.heading{
    width: 100%;
    position: relative;
    max-width: 1290px;
    padding: 0px 15px;
    margin: 0px auto;
    overflow: hidden;
}
/*section 2nd*/
#section{
    height: 150px;
    background-color: black;
    text-align: center;

}
.slideshow{
    margin: 0px;
    padding: 13px;
    margin-top: 40px;
    display: flex;
}
#section-1{
    background-color: black;
    margin-top: -40px;
    display: flex;
}
.slide2 img{
    height: 400px;
    display: flex;
}
.slide2{
    margin-top: 40px;
}
.img-text{
    color: white;
}
.img-text2{
    color: white;
}
.multiple-slider{
    display: flex;
}
.slide{
    display: flex;
}

